# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/app.podspec

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# MacOS
.DS_Store

# Android
*.apk
*.aar
*.jks

# Web
web/.dart_tool/
web/.packages
web/build/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Fuchsia
.fuchsia/